* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1368px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 20px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #C3B9B5;
}

.navigator {
    width: 155px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.navigator a {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFC59E;
    text-decoration: none;
}

.navigator i {
    color: #FFC59E;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
}

.wrapper_right img {
    width: 430px;
}

.wrapper_left h1 {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
    color: #080606;
}

.wrapper_left button {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    background: #FFC59E;
    box-shadow: 0px 4px 20px #FFC59E;
    border-radius: 33.5px;
    border: none;
    width: 239px;
    height: 57px;
}

.icons {
    margin-top: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: -20px;
}

.icons i {
    margin-left: 50px;
    text-align: center;
    font-size: 25px;
}

.section_box {
    margin-top: 20%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 23px;
}

.box {
    width: 290px;
    height: 220px;
    background: #f5efef;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;
}

.box img {
    margin-left: 130px;
}

.box p {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #59443F;
    margin-left: 23px;
}

.box h1 {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #59443F;
    margin-top: 7px;
    margin-left: 23px;
}

.main {
    margin-top: 15%;
    text-align: center;
    height: 900px;
    background: #FBF8F8;
}

.hiding {
    padding-top: 15%;
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #080606;
}

.main p {
    margin-top: 40px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #59443F;

}

.main a {
    font-size: 20px;
    color: #FFC59E;
    text-decoration: none;
    margin-top: 20px;
    margin-left: -79px;
    position: absolute;
}

.img {
    margin-top: 120px;
}

.img img {
    margin-top: 50px;
    width: 178px;
    height: 178px;
}

.img button {
    background: #FFC59E;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.calibri {
    margin-top: 23%;
    text-align: center;
}

.calibri h1 {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
    color: #080606;
}

.world {
    margin-top: 20%;
}

.world_box {
    display: flex;
    flex-wrap: wrap;
    margin-left: -100px;
}

.box2 {
    width: 369px;
    margin-left: 110px;
    margin-top: 120px;
}

.anime {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.world-h1 {
    text-align: center;
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #080606;
}

.end {
    display: flex;
    justify-content: space-around;
    margin-top: 30%;
    background: #FFC59E;
    align-items: center;
    height: 1080px;
}

.end_right img {
    width: 400px;
    margin-left: -60%;
}

.end_right_box {
    width: 350px;
    height: 700px;
    background: #FFFFFF;
    border-radius: 50px;
    position: absolute;
    margin-top: -27%;
    margin-left: 50px;
}

.end_right_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.end_right_box img {
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-top: 150px;
}

.end_right_box input {
    margin-top: 20px;
    border-radius: 20px;
    width: 250px;
    height: 38px;
    background-color: #ebe3e1;
    border: none;
}

.end_right_box button {
    margin-top: 25px;
    width: 259px;
    height: 47px;
    border-radius: 20px;
    border: none;
    background: #FFC59E;
    color: white;
    font-size: 17px;
}

.end_left a {
    text-decoration: none;
    font-family: 'Futura New';
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.end_left h1 {
    font-family: 'SchoolBook';
    font-size: 50px;
    line-height: 70px;
    color: #FFFFFF;
}

.img1 {
    margin-top: 12px;
}

.img2 {
    padding-top: -40px;
    position: absolute;
}

.box-right-left {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.google_maps {
    margin-top: 30%;
}

.google_maps_left {
    display: flex;
    flex-direction: column;
}

.box1 {
    margin-left: 110px;
}

.box-right-left i {
    position: absolute;
    margin-left: -36px;
    margin-top: 30px;
    color: #FFC59E;
    ;
}

.box-right-left p {
    margin-top: 30px;
}

.google-h1 {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #080606;
    margin-left: 60px;
}